<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
     <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
{% block stylesheets %}
       
		<!-- CSS Files -->
  <link href="{{asset('css/argon-dashboard.css?v=1.1.0')}}" rel="stylesheet" />
  <link rel="icon" type="image/png" href="{{asset('img/icons/aerogami.png')}}"/>

 <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="{{asset('assetss/css/nucleo-icons.css')}}" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{{asset('assetss/css/blk-design-system.css')}}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{{asset('assetss/demo/demo.css')}}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{{ asset('dist/pell.css') }}">
<script src="{{asset('assetss/js/core/jquery.min.js')}}" type="text/javascript"></script>

  <link href="http://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
        <!-- Place favicon.ico in the root directory -->

        <!-- CSS here -->
        <link rel="stylesheet" href="{{asset('club/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('club/css/owl.carousel.min.css')}}">
        <link rel="stylesheet" href="{{asset('club/css/animate.min.css')}}">
        <link rel="stylesheet" href="{{asset('club/css/magnific-popup.css')}}">
        <link rel="stylesheet" href="{{asset('club/css/fontawesome-all.min.css')}}">
        <link rel="stylesheet" href="{{asset('club/css/dripicons.css')}}">
        <link rel="stylesheet" href="{{asset('club/css/meanmenu.css')}}">
        <link rel="stylesheet" href="{{asset('club/css/slick.css')}}">
        <link rel="stylesheet" href="{{asset('club/css/default.css')}}">
        <link rel="stylesheet" href="{{asset('club/css/style.css')}}">
        <link rel="stylesheet" href="{{asset('club/css/responsive.css')}}">
         <!-- Nucleo Icons -->
  <link href="{{asset('assetss/css/nucleo-icons.css')}}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
  {% set path= app.request.pathInfo|split('/') %}
        <!-- header-start -->
        <header>
           <div class="top-bar-area-3 dark-soft pt-30 pb-30  pl-55 pr-55 d-none d-md-block">
                <div class="container-fluid">
                     
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
    <div class="container">
      <div class="navbar-translate">
       {% if app.user.status=="Admin" %}
        <a class="navbar-brand" href="{{path('admin')}}" rel="tooltip" title="Edutest" data-placement="bottom" >
          <span>Tunisia•</span> Edutest
        </a>
        
         {% endif %}
      {% if app.user.status=="Teacher" %}
      <a class="navbar-brand" href="{{path('professor')}}" rel="tooltip" title="Edutest" data-placement="bottom" >
          <span>Tunisia•</span> Edutest
        </a>
      {% endif %}
      {% if app.user.status=="Student" %}
      <a class="navbar-brand" href="{{path('apprentice')}}" rel="tooltip" title="Edutest" data-placement="bottom" >
          <span>Tunisia•</span> Edutest
        </a>
      {% endif %}
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a>
                BLK•
              </a>
            </div>
            <div class="col-6 collapse-close text-right">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav">
         <!--Admin-->
        {% include 'admin.html.twig'%}
         {% block admin %}
         
         {% endblock %}
          <!--Teacher-->
          {% include 'teacher.html.twig'%}
          {% block teacher%}
          
         {% endblock %}
          <!--Student-->
          {% include 'student.html.twig'%}
          {% block student %}
          
         {% endblock %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

               
           
        {% block body %}
        {% endblock %}
 {% block javascripts %}
 <!--   Core JS Files   -->
  
  <script src="{{asset('assetss/js/core/popper.min.js')}}" type="text/javascript"></script>
  <script src="{{asset('assetss/js/core/bootstrap.min.js')}}" type="text/javascript"></script>
  <script src="{{asset('assetss/js/plugins/perfect-scrollbar.jquery.min.js')}}"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="{{asset('assetss/js/plugins/bootstrap-switch.js')}}"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{{asset('assetss/js/plugins/nouislider.min.js')}}" type="text/javascript"></script>
  <!-- Chart JS -->
  <script src="{{asset('assetss/js/plugins/chartjs.min.js')}}"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="{{asset('assetss/js/plugins/moment.min.js')}}"></script>
  <script src="{{asset('assetss/js/plugins/bootstrap-datetimepicker.js')}}" type="text/javascript"></script>
  <!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="{{asset('assetss/demo/demo.js')}}"></script>
  <!-- Control Center for Black UI Kit: parallax effects, scripts for the example pages etc -->
  <script src="{{asset('assetss/js/blk-design-system.min.js?v=1.0.0')}}" type="text/javascript"></script>


  <script src="http://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" type="text/javascript"></script>

                <!-- JS here -->
                <script src="{{asset('assetss/js/plugins/perfect-scrollbar.jquery.min.js')}}"></script>
        <script data-cfasync="false" src="{{asset('club/js/email-decode.min.js')}}"></script>
        <script src="{{asset('club/js/vendor/modernizr-3.5.0.min.js')}}"></script>
        <script src="{{asset('club/js/vendor/jquery-1.12.4.min.js')}}"></script>
        <script src="{{asset('club/js/popper.min.js')}}"></script>
        <script src="{{asset('club/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('club/js/jquery.counterup.min.js')}}"></script>
        <script src="{{asset('club/js/jquery.countdown.min.js')}}"></script>
        <script src="{{asset('club/js/waypoints.min.js')}}"></script>
        <script src="{{asset('club/js/owl.carousel.min.js')}}"></script>
        <script src="{{asset('club/js/isotope.pkgd.min.js')}}"></script>
        <script src="{{asset('club/js/slick.min.js')}}"></script>
        <script src="{{asset('club/js/jquery.meanmenu.min.js')}}"></script>
        <script src="{{asset('club/js/ajax-form.js')}}"></script>
        <script src="{{asset('club/js/wow.min.js')}}"></script>
        <script src="{{asset('club/js/jquery.scrollUp.min.js')}}"></script>
        <script src="{{asset('club/js/imagesloaded.pkgd.min.js')}}"></script>
        <script src="{{asset('club/js/jquery.magnific-popup.min.js')}}"></script>
        <script src="{{asset('club/js/plugins.js')}}"></script>
        <script src="{{asset('club/js/main.js')}}"></script>
        <a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647; display: none;"><i class="tim-icons icon-minimal-up"></i></a>
    
{% endblock %}
</body>
</html>