{% extends 'base.html.twig' %}

{% block title %}New Class{% endblock %}

{% block body %}
</br></br>

<section class="section section-lg">
      <img src="{{asset('assetss/img/path4.png')}}" class="path">
     
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <h1 class="text-center">New class</h1>
            <div class="row row-grid justify-content-center">
            
            </div>
          </div>
        </div>
      </div>
    </section>
<div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col-xl-8 order-xl-1">
          <div class="card shadow">
            <div class="card-header border-0">
        
               
    <h1>Create new Class</h1>
{{ form_start(form)}}
    
                 <div class="row">
                    <div class="col-lg-8">
                      <div class="form-group">
                        <label class="form-control-label" for="input-address">Name</label>
                        {{ form_widget(form.name) }}
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form)}}
</div></div></div></div>

    <a href="{{ path('classes_index') }}" class="btn btn-outline-default float-left">back to list</a>
{% endblock %}
