{% extends 'base.html.twig' %}

{% block title %}university index{% endblock %}

{% block body %}
<section name='Title' style='margin-top:140px;'>
<div class="container">
        <div class="row justify-content-center">
          <h1 class="text-center"style="color:#B2273D;font-family:'Neou-bold';">   universities
           <img src="{{asset('image/icones/1.png')}}" height="80px"width="80px" class="path">
           </h1>
            <div class="row row-grid justify-content-center">
         
            </div>
          </div>
        </div>
      </div>
      </section>


<div style="margin-right:50px;margin-left:50px;margin-top:50px;">
          
                                  
             
             {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
          {% for message in app.flashes('delete') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
          {% for message in app.flashes('update') %}
           
          
            <div class="alert alert-warning" role="alert">
                {{ message }}
                </div>   
                {% endfor %} 
                
<table style="border:none;" id="example"  class="table align-items-center table-flush  display dataTable">
            <thead >
            <tr>
                <th scope="col"><h5 class="text-bluee">Title</h5></th>
                <th scope="col"><h5 class="text-bluee">actions</h5></th>
            </tr>
        </thead>
        <tbody id="myTable">
        {% for university in universities %}
            <tr class="bg-gris"height="50px"  onmouseover="show({{university.id}})"onmouseout="hide({{university.id}})">
                <script>
                    function show(a){
                      document.getElementById('td'+a).style.backgroundColor='yellow';
                      document.getElementById('act'+a).style='display:inline;background:url({{ asset('image/icones/20.png') }}); background-size:cover; border:none; padding:15px; color:#FFFFFF;';
                    }
                    function hide(a){
                      document.getElementById('td'+a).style='';
                      document.getElementById('act'+a).style='display:none';
                    }
                </script>
                <td id="td{{university.id}}">
                      <div class="media align-items-center">
                        <a href="#" class=" img-fluid rounded-circle shadow-lg mr-3">
                           {% if university.photo == null %}
                                <img src="{{ asset('img/univer.png') }}"    />
                            {% else %}
                                <img style="width:80px; height:80px;"src="{{ asset('uploads/universities/photos/'~university.photo) }}"   />
                            {% endif %}
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-dark text-sm"> {{ university.title }}</span>
                        </div>
                      </div>
                    </td>

             <td  class="bg-gris" class="actions">
                  <div  class="btn-group">
                                        <button id="act{{university.id}}" style="display:none; " class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 0px;margin-top: 0px">Actions</button>
                                        <div class="dropdown-menu ">
                                            <a class="dropdown-item" href="{{ path('university_show', { 'id': university.id }) }}">
                                    
                                            show</a>
                                         {% if app.user.status=="Admin"%}
                                         <a class="dropdown-item" href="{{ path('university_edit', { 'id': university.id }) }}">
                                    
                                            edit</a>
                                         <a class="dropdown-item" href="#" onclick="showModal('myModal{{ university.id }}')" >
                                        
                                         Delete</a>
                                         {% endif %}
                                        </div>
                  </div>
              
                                </td>
                            </tr>
                              <!-- Modal -->

                              <div id="myModal{{ university.id }}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Confirmation de supprission</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Voulez-vous vraiment supprimer cette ce cours !</p>
                                        </div>
                                        <div class="modal-footer">
                                        <form method="post" action="{{ path('university_delete', {'id': university.id}) }}">
                                            <button type="button" class="btn btn-default btn-md" data-dismiss="modal">Close</button>
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ university.id) }}">
                                            <button type="submit" class="btn btn-danger btn-md">Supprimer</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


         
                         
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        function showModal(id) {
            $("#"+id).modal();
        }
    </script>

    <script type="text/javascript">
    var host = "startbootstrap.com";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
      window.location.protocol = "https";
  </script>

  <script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

 <script>
        function showModal(id) {
            $("#"+id).modal();
        }
          $(document).ready(function() {
    $('#example').DataTable();
} );
$(document).ready(function(){
    document.getElementById('example_info').style="color:#B2273D";
});
    </script>


    </div></div></div></div></div>
{% if app.user.status!="Student" %}
    <a href="{{ path('university_new') }}" class="btn btn-success">Create new</a>
{% endif %}

    
{% endblock %}
