{% extends 'base.html.twig' %}

{% block title %}Edit Candidature{% endblock %}

{% block body %}

 {{ form_start(form)}}
   






<section class="section section-lg">
      <img src="{{asset('assetss/img/path4.png')}}" class="path">
     
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <h1 class="text-center">Application management</h1>
            <div class="row row-grid justify-content-center">
            
            </div>
          </div>
        </div>
      </div>
    </section>
   <div class="container-fluid mt--7">

      <div class="section section-tabs">
        <div class="container">
          
          <div class="row">
            <div class="col-md-10 ml-auto col-xl-6 mr-auto">
              <div class="mb-3">
                <large class="text-uppercase text-white font-weight-bold"><i class="tim-icons icon-bulb-63 text-yellow"></i>Tips!!</large>
              </div>
              <!-- Nav tabs -->
              <div class="card">
                <div class="card-header">
                  <ul class="nav nav-tabs nav-tabs-primary" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active show" data-toggle="tab" href="#link1" role="tablist">
                        <i class="tim-icons icon-email-85"></i> L.O.Recommendation
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                        <i class="tim-icons icon-paper"></i> Test
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#link3" role="tablist">
                        <i class="tim-icons icon-credit-card"></i> Bank Stat.
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <!-- Tab panes -->
                  <div class="tab-content tab-space">
                    <div class="tab-pane active show" id="link1">
                      <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                        <br>
                        <br> Dramatically visualize customer directed convergence without revolutionary ROI.</p>
                    </div>
                    <div class="tab-pane" id="link2">
                      <p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
                        <br>
                        <br>Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                    </div>
                    <div class="tab-pane" id="link3">
                      <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                        <br>
                        <br> Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
                    </div>
                  </div>
                </div>
              </div>
 

            </div>
            <div class="col-md-10 ml-auto col-xl-6 mr-auto">
              <div class="mb-3">
                <small class="text-uppercase text-white font-weight-bold"><i class="tim-icons icon-cloud-upload-94 text-info"></i> Upload files</small>
              </div>
              <!-- Tabs with Background on Card -->
              <div class="card" style="background-image: linear-gradient(to right top, #845ec2, #b45cb6, #d65fa5, #ed6993, #fa7a82, #ff8977, #ff9a6e, #ffac69, #ffbe66, #ffd166, #ffe469, #f9f871); ">
                <div class="card-header">
                  
                </div>
                <div class="card-body">
                  <!-- Tab panes -->

                  
 {{ form_start(form)}}

                  <h3 class="mb-4">My application</h3>
              
             {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
          {% for message in app.flashes('delete') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
          {% for message in app.flashes('update') %}
           
          
            <div class="alert alert-warning" role="alert">
                {{ message }}
                </div>   
                {% endfor %} 
              
                  <h6 class="heading-small text-white mb-4">User information</h6>
               <div class="row">
                <div class="col">
                  <label class="form-control-label" for="input-username">Test File PDF
                  {% if candidature.test is defined %}
                  {% if candidature.test!= null %}
                    <i style="font-size:20px;font-weight: bolder;" class="tim-icons text-green icon-check-2 rounded"></i>
                  {% else %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-red  icon-simple-remove"></i>
                    {% endif %}{% endif %}
                    </label>
                    {{form_errors(form.testFile)}}
                  {{ form_widget(form.testFile ,{'type':'file'}) }}
                </div>
                <div class="col">
               
                
                  <label class="form-control-label" for="input-email">Letter of recommendation English PDF
                  {% if candidature.letterOfRecommendation is defined %}
                  {% if candidature.letterOfRecommendation!= null %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-green icon-check-2"></i>
{% else %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-red icon-simple-remove"></i>
                    {% endif %}{% endif %}
                  </label>
                  {{form_errors(form.letterOfRecommendationFile)}}
                  {{ form_widget(form.letterOfRecommendationFile) }}
                  <label class="form-control-label" for="input-email">Letter of recommendation Math PDF
                  {% if candidature.letterOfRecommendationMath is defined %}
                  {% if candidature.letterOfRecommendationMath!= null %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-green icon-check-2"></i>
                   {% else %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-red icon-simple-remove"></i>
                    {% endif %}{% endif %}
                  </label>
                  {{form_errors(form.letterOfRecommendationMathFile)}}
                  {{ form_widget(form.letterOfRecommendationMathFile) }}
              
                </div>
               </div>

               <div class="row">
                <div class="col">
                 <label class="form-control-label" for="input-first-name">Questionnaire PDF
                 {% if candidature.survey is defined %}
                  {% if candidature.survey!= null %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-green icon-check-2"></i>
{% else %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-red icon-simple-remove"></i>
                    {% endif %}{% endif %}
                 </label>
                 {{form_errors(form.surveyFile)}}
                  {{ form_widget(form.surveyFile) }}
                </div>
                <div class="col">
                <label class="form-control-label" for="input-last-name">Bank Statement PDF
                {% if candidature.bankStatement is defined %}
                  {% if candidature.bankStatement!= null %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-green icon-check-2"></i>
{% else %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-red icon-simple-remove"></i>
                    {% endif %}{% endif %}
                </label>
                {{form_errors(form.bankStatementFile)}}
                 {{form_errors(form.bankstatmentFilepdf)}}
                  {{ form_widget(form.bankStatementFile,{'id':'bancheckdoc'}) }}
                  {{form_widget(form.bankstatmentFilepdf,{'id':'bankcheckpdf'})}}
                 <div class="bootstrap-switch-container" style="width: 118px; margin-left: 0px;"><span class="bootstrap-switch-handle-on bootstrap-switch-primary" style="width: 50px;"></span><span class="bootstrap-switch-label" style="width: 30px;">&nbsp;</span><span class="bootstrap-switch-handle-off bootstrap-switch-default" style="width: 50px;"></span>
                 <input id="bankcheck" type="checkbox" name="bankcheck"  >Translate(Word)</div>
                
               </div>

                <div class="row">
                <div class="col">
                 <label class="form-control-label" for="input-first-name">Passport PDF
                 {% if candidature.passport is defined %}
                  {% if candidature.passport!= null %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-green icon-check-2"></i>
{% else %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-red icon-simple-remove"></i>
                    {% endif %}{% endif %}</label>
                    {{form_errors(form.passportFile)}}
                 {{form_errors(form.passportFilepdf)}}
                  {{ form_widget(form.passportFile,{'id':'passdoc'}) }}
                   {{ form_widget(form.passportFilepdf,{'id':'passpdf'}) }}
                    <div class="bootstrap-switch-container" style="width: 118px; margin-left: 0px;"><span class="bootstrap-switch-handle-on bootstrap-switch-primary" style="width: 50px;"></span><span class="bootstrap-switch-label" style="width: 30px;">&nbsp;</span><span class="bootstrap-switch-handle-off bootstrap-switch-default" style="width: 50px;"></span>
                 <input id="passcheck" type="checkbox" name="bankcheck"  >Word document</div>
                
                </div>
                <div class="col">
                <label class="form-control-label" for="input-last-name">Student ID (CIN)
                {% if candidature.cin is defined %}
                  {% if candidature.cin!= null %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-green icon-check-2"></i>
{% else %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-red icon-simple-remove"></i>
                    {% endif %}{% endif %}</label>
                    {{form_errors(form.cinFile)}}
                 {{form_errors(form.cinFilepdf)}}
                  {{ form_widget(form.cinFile,{'id':'cindoc'}) }}
                  {{ form_widget(form.cinFilepdf,{'id':'cinpdf'}) }}
                   <div class="bootstrap-switch-container" style="width: 118px; margin-left: 0px;"><span class="bootstrap-switch-handle-on bootstrap-switch-primary" style="width: 50px;"></span><span class="bootstrap-switch-label" style="width: 30px;">&nbsp;</span><span class="bootstrap-switch-handle-off bootstrap-switch-default" style="width: 50px;"></span>
                 <input id="cincheck" type="checkbox" name="bankcheck"  >Word Document</div>
                
                </div>
               </div>

               <h6 class="heading-small text-white mb-4">Transcripts</h6>
               
               <div class="row">
                <div class="col">
                <label class="form-control-label" for="input-username">First year transcription PDF
                {% if candidature.transcriptFirst is defined %}
                  {% if candidature.transcriptFirst!= null %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-green icon-check-2"></i>
{% else %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-red icon-simple-remove"></i>
                    {% endif %}{% endif %}</label>
                    {{form_errors(form.transcriptFirstFile)}}
                 {{form_errors(form.transcriptfirstFilepdf)}}
                  {{ form_widget(form.transcriptFirstFile,{'id':'transfirstcheckdoc'}) }}
                  {{form_widget(form.transcriptfirstFilepdf,{'id':'transfirstcheckpdf'})}}
                 <div class="bootstrap-switch-container" style="width: 118px; margin-left: 0px;"><span class="bootstrap-switch-handle-on bootstrap-switch-primary" style="width: 50px;"></span><span class="bootstrap-switch-label" style="width: 30px;">&nbsp;</span><span class="bootstrap-switch-handle-off bootstrap-switch-default" style="width: 50px;"></span>
                 <input id="firstcheck" type="checkbox" name="bankcheck"  >Translate(Word)</div>
                </div>
                <div class="col">
                <label class="form-control-label" for="input-email">Second year transcription PDF
                {% if candidature.transcriptSecond is defined %}
                  {% if candidature.transcriptSecond!= null %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-green icon-check-2"></i>
{% else %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-red icon-simple-remove"></i>
                    {% endif %}{% endif %}</label>
                {{form_errors(form.transcriptSecondFile)}}
                 {{form_errors(form.transcriptsecondFilepdf)}}
                  {{ form_widget(form.transcriptSecondFile,{'id':'transsecondcheckdoc'}) }}
                  {{form_widget(form.transcriptsecondFilepdf,{'id':'transsecondcheckpdf'})}}
                 <div class="bootstrap-switch-container" style="width: 118px; margin-left: 0px;"><span class="bootstrap-switch-handle-on bootstrap-switch-primary" style="width: 50px;"></span><span class="bootstrap-switch-label" style="width: 30px;">&nbsp;</span><span class="bootstrap-switch-handle-off bootstrap-switch-default" style="width: 50px;"></span>
                 <input id="secondcheck" type="checkbox" name="bankcheck"  >Translate(Word)</div>
                </div>
               </div>
               <div class="row">
                <div class="col">
                <label class="form-control-label" for="input-first-name">Third year transcription PDF
                {% if candidature.transcriptThird is defined %}
                  {% if candidature.transcriptThird!= null %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-green icon-check-2"></i>
{% else %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-red icon-simple-remove"></i>
                    {% endif %}{% endif %}</label>
                    {{form_errors(form.transcriptThirdFile)}}
                 {{form_errors(form.transcriptthirdFilepdf)}}
                  {{ form_widget(form.transcriptThirdFile,{'id':'transthirdcheckdoc'}) }}
                  {{form_widget(form.transcriptthirdFilepdf,{'id':'transthirdcheckpdf'})}}
                 <div class="bootstrap-switch-container" style="width: 118px; margin-left: 0px;"><span class="bootstrap-switch-handle-on bootstrap-switch-primary" style="width: 50px;"></span><span class="bootstrap-switch-label" style="width: 30px;">&nbsp;</span><span class="bootstrap-switch-handle-off bootstrap-switch-default" style="width: 50px;"></span>
                 <input id="thirdcheck" type="checkbox" name="bankcheck"  >Translate(Word)</div>
                </div>
                <div class="col">
                <label class="form-control-label" for="input-last-name">Bac transcription PDF
                {% if candidature.transcriptBac is defined %}
                  {% if candidature.transcriptBac!= null %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-green icon-check-2"></i>
{% else %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-red icon-simple-remove"></i>
                    {% endif %}{% endif %}</label>
                    {{form_errors(form.transcriptBacFile)}}
                 {{form_errors(form.transcriptbacFilepdf)}}
                  {{ form_widget(form.transcriptBacFile,{'id':'transbaccheckdoc'}) }}
                  {{form_widget(form.transcriptbacFilepdf,{'id':'transbaccheckpdf'})}}
                 <div class="bootstrap-switch-container" style="width: 118px; margin-left: 0px;"><span class="bootstrap-switch-handle-on bootstrap-switch-primary" style="width: 50px;"></span><span class="bootstrap-switch-label" style="width: 30px;">&nbsp;</span><span class="bootstrap-switch-handle-off bootstrap-switch-default" style="width: 50px;"></span>
                 <input id="baccheck" type="checkbox" name="bankcheck"  >Translate(Word)</div> 
                </div>
               </div>
                

<h6 class="heading-small text-white mb-4">Universities Authentifcator</h6>
             <div class="row">
                <div class="col">
                <label class="form-control-label" for="input-first-name">Username
                {% if candidature.username is defined %}
                  {% if candidature.username!= null %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-green icon-check-2"></i>
{% else %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-red icon-simple-remove"></i>
                    {% endif %}{% endif %}</label>
                  {{ form_widget(form.username) }}
                </div>
                <div class="col">
                <label class="form-control-label" for="input-last-name">Password
                {% if candidature.password is defined %}
                  {% if candidature.password!= null %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-green icon-check-2"></i>
{% else %}
                    <i style="font-size:20px;font-weight: bolder;"  class="tim-icons text-red icon-simple-remove"></i>
                    {% endif %}{% endif %}</label>
                    
                 {{ form_widget(form.password, { 'attr': {'type': 'password'} ,'type':'password','id':'password'}) }}
                   <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                </div>
               </div>
               <style>
               .field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
               </style>

 <script>
 $(document).ready(function(){
   if ($('#bankcheck:checked').val()){
  $('#bancheckdoc').show();
  $('#bankcheckpdf').hide()
 

}
else {
    $('#bankcheckpdf').show();
  $('#bancheckdoc').hide()
 
}
 $('#bankcheck').change(function(){
   //alert($('#bankcheck:checked').val());
if ($('#bankcheck:checked').val()){
  $('#bancheckdoc').show();
  $('#bankcheckpdf').hide();
  $('#bankcheckpdf').val('');
}
else {
    $('#bankcheckpdf').show();
  $('#bancheckdoc').hide();
 $('#bancheckdoc').val('');
}});

//first trans
 if ($('#firstcheck:checked').val()){
  $('#transfirstcheckdoc').show();
  $('#transfirstcheckpdf').hide()

}
else {
    $('#transfirstcheckpdf').show();
  $('#transfirstcheckdoc').hide();
 
}
 $('#firstcheck').change(function(){
   //alert($('#bankcheck:checked').val());
if ($('#firstcheck:checked').val()){
  $('#transfirstcheckdoc').show();
  $('#transfirstcheckpdf').hide();
  $('#transfirstcheckpdf').val('');

}
else {
    $('#transfirstcheckpdf').show();
  $('#transfirstcheckdoc').hide();
 $('#transfirstcheckdoc').val('');
}});
//second trans
 if ($('#secondcheck:checked').val()){
  $('#transsecondcheckdoc').show();
  $('#transsecondcheckpdf').hide();

}
else {
    $('#transsecondcheckpdf').show();
  $('#transsecondcheckdoc').hide();

}
 $('#secondcheck').change(function(){
   //alert($('#bankcheck:checked').val());
if ($('#secondcheck:checked').val()){
  $('#transsecondcheckdoc').show();
  $('#transsecondcheckpdf').hide();
$('#transsecondcheckpdf').val('');
}
else {
    $('#transsecondcheckpdf').show();
  $('#transsecondcheckdoc').hide();
  $('#transsecondcheckdoc').val('');
}});


//third trans
 if ($('#thirdcheck:checked').val()){
  $('#transthirdcheckdoc').show();
  $('#transthirdcheckpdf').hide();
  

}
else {
    $('#transthirdcheckpdf').show();
  $('#transthirdcheckdoc').hide();
  
}
 $('#thirdcheck').change(function(){
   //alert($('#bankcheck:checked').val());
if ($('#thirdcheck:checked').val()){
  $('#transthirdcheckdoc').show();
  $('#transthirdcheckpdf').hide();
  
$('#transthirdcheckpdf').val('');
}
else {
    $('#transthirdcheckpdf').show();
  $('#transthirdcheckdoc').hide();
 $('#transthirdcheckdoc').val('');
}});

//bac trans
 if ($('#baccheck:checked').val()){
  $('#transbaccheckdoc').show();
  $('#transbaccheckpdf').hide();
  

}
else {
    $('#transbaccheckpdf').show();
  $('#transbaccheckdoc').hide();
  
}
 $('#baccheck').change(function(){
   //alert($('#bankcheck:checked').val());
if ($('#baccheck:checked').val()){
  $('#transbaccheckdoc').show();
  $('#transbaccheckpdf').hide()
$('#transbaccheckpdf').val('');
}
else {
    $('#transbaccheckpdf').show();
  $('#transbaccheckdoc').hide();
 $('#transbaccheckdoc').val('');
}});

//passport
if ($('#passcheck:checked').val()){
  $('#passdoc').show();
  $('#passpdf').hide();
  

}
else {
    $('#passpdf').show();
  $('#passdoc').hide();
  
}
 $('#passcheck').change(function(){
   //alert($('#bankcheck:checked').val());
if ($('#passcheck:checked').val()){
  $('#passdoc').show();
  $('#passpdf').hide()
$('#passpdf').val('');
}
else {
    $('#passpdf').show();
  $('#passdoc').hide();
 $('#passdoc').val('');
}});

//cin
if ($('#cincheck:checked').val()){
  $('#cindoc').show();
  $('#cinpdf').hide();
  

}
else {
    $('#cinpdf').show();
  $('#cindoc').hide();
  
}
 $('#cincheck').change(function(){
   //alert($('#bankcheck:checked').val());
if ($('#cincheck:checked').val()){
  $('#cindoc').show();
  $('#cinpdf').hide()
$('#cinpdf').val('');
}
else {
    $('#cinpdf').show();
  $('#cindoc').hide();
 $('#cindoc').val('');
}});
});
 </script>              

<script>
$(".toggle-password").click(function() {

  $(this).toggleClass("fa-eye fa-eye-slash");
  var input = $($(this).attr("toggle"));
  if (input.attr("type") == "password") {
    input.attr("type", "text");
  } else {
    input.attr("type", "password");
  }
});

</script>
                
                <hr class="my-4" />
                <!-- Description -->
              
               {{ include('candidature/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
      </div>
    

    {#<a href="{{ path('candidature_index') }}">back to list</a>#}
    
    {{ form_end(form) }}
                  
                <a href="{{ path('candidature_index') }}"class="btn btn-outline-default float-right">back to list</a>{#{{ include('candidature/_delete_form.html.twig') }}#}
              </div>
              <!-- End Tabs on plain Card -->
            </div>
          </div>
<div class="row justify-content-center">
<div class="col-8">
             <div class="card card-plain" style="border:solid 1px;">
<div class="card-title">
<h2>Apply to university</h2>
<h3 style="color:red;">{{count}}<span style="color:white;">Left</span></h3>
 {% for message in app.flashes('suc') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
          {% for message in app.flashes('del') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
          {% for message in app.flashes('update') %}
           
          
            <div class="alert alert-warning" role="alert">
                {{ message }}
                </div>   
                {% endfor %} 
</div>
<div class="card-body">
<form action="{{path('condapplication_new',{'id':candidature.id})}}" method="post">

<div class="input_fields_wrap">
    <button class="add_field_button">Add More Fields</button>
   
    <div class="row">
<div class="col">
<h5 for="university">university name</h5>
<input class="form-control" type="text" name="univer1"/>
</div>
<div class="col">
<h5 for="email">Email</h5>
<input class="form-control" type="email" name="email1"/>
</div>
{#<div class="col">
<h5 for="pass">Password</h5>#}
<input class="form-control" type="password" hidden="true" name="pass1"/>
{#</div>#}
</div>
<br>
</div>
<script>
 $(document).ready(function() {
	var max_fields      = {{count}}; //maximum input boxes allowed
	var wrapper   		= $(".input_fields_wrap"); //Fields wrapper
	var add_button      = $(".add_field_button"); //Add button ID
	
	var x = 1; //initlal text box count
	$(add_button).click(function(e){ //on add input button click
		e.preventDefault();
		if(x < max_fields){ //max input box allowed
			x++; //text box increment
			$(wrapper).append("  <div class='row'><h4>"+x+"</h4><div class='col'><input class='form-control' type='text' name='univer"+x+"'></div><div class='col'><input class='form-control' type='email' name='email"+x+"'></div><input class='form-control' hidden='true' type='password' name='pass"+x+"'> <a href='#' class='remove_field'>Remove</a></div><br>"); //add input box
      $('#compt').val(x);
		}
	});
	
	$(wrapper).on("click",".remove_field", function(e){ //user click on remove text
		e.preventDefault(); $(this).parent('div').remove(); x--;
	})
});

</script>
 <input id="compt" type="hidden" name="compteur">
<button class="btn btn-primary" type="submit">Apply</button>
</form>
</div>
</div>
</div>
      </div>

        </div>
      </div>
      















{#}
 </div>
<div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-8 order-xl-1">
          <div class="card  shadow">
            <div class="card-header  border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Edit Candidature</h3>
                </div>
                
              </div>
            </div>
            <div class="card-body">
              <form>
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                   <div class="col-lg-6">
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-warning" role="alert">
                                    {{ message }}
                                </div>   
                            {% endfor %}
                            {% for message in app.flashes('update') %}
                                <div class="alert alert-warning" role="alert">
                                    {{ message }}
                                </div>   
                            {% endfor %}
                        </div>
                    </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Test File</label>
                         {{ form_widget(form.testFile ,{'type':'file'}) }}
                        
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Letter of recommendation</label>
                         {{ form_widget(form.letterOfRecommendationFile) }}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Questionnaire</label>
                        
                         {{ form_widget(form.surveyFile) }}
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-last-name">Bank Statement</label>
                        
                         {{ form_widget(form.bankStatementFile) }}
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Transcripts</h6>
                
<div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">First year transcription</label>
                         {{ form_widget(form.transcriptFirstFile) }}
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Second year transcription</label>
                         {{ form_widget(form.transcriptSecondFile) }}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Third year transcription</label>
                        
                         {{ form_widget(form.transcriptThirdFile) }}
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-last-name">Bac transcription</label>
                        
                         {{ form_widget(form.transcriptBacFile) }}
                      </div>
                    </div>
                  </div>
                </div>

               
                <!-- Description -->
                {{ include('candidature/_form.html.twig', {'button_label': 'Update'}) }}
              </form>
         <hr class="my-4" />
    
<div>
    <a href="{{ path('candidature_index') }}"class="btn btn-outline-default float-right">back to list</a>{{ include('candidature/_delete_form.html.twig') }}
</div>
        </div>
          </div>
        </div>
      </div>
    {{ form_end(form)}}#}
{% endblock %}
