{% extends 'base.html.twig' %}

{% block title %}EducationGroup index{% endblock %}

{% block body %}
   {# <section class="section section-lg">
      <img src="{{asset('assetss/img/path4.png')}}" class="path">
      
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <h1 class="text-center inline-photo show-on-scroll">Class</h1>
            <div class="row row-grid justify-content-center">
            
            </div>
          </div>
        </div>
      </div>
 </section>
<div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Class</h3>
            </div>
            <div class="table-responsive">


              <table id="example" class="table align-items-center table-flush table-striped display dataTable">
                <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for education_group in education_groups %}
            <tr style="background:#EEEEEE;">
                <td><span class="mb-0 text-dark text-sm">{{ education_group.id }}</span></td>
                <td><span class="mb-0 text-dark text-sm">{{ education_group.name }}</span></td>
                <td>
                                            <a class="dropdown-item" href="{{ path('students_of_teacher_index', { 'id': education_group.id }) }}">
                                            <i class="fas fa-graduation-cap"></i>
                                            Students</a>
                                            <a class="dropdown-item" href="{{ path('module_test_index_teacher', { 'id' : education_group.id }) }}">
                                            <i class="fa fa-book" aria-hidden="true"></i>
                                            Courses</a>
                                            <a class="dropdown-item" href="{{ path('module_test_index_teacher', { 'id' : education_group.id,'list':'tests' }) }}">
                                            <i class="far fa-sticky-note"></i>
                                            Tests</a>
                                            <a class="dropdown-item" href="{{ path('teacher_send_email', { 'id' : education_group.id}) }}">
                                            <i class="far fa fa-envelope"></i>
                                            Send group email</a>
                                            
                </td>
            </tr>
            <div id="myModal{{  education_group.id }}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Delete Confirmation</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>All students of this group will be deleted if your proceed this process!</p>
                                            <p> Change all students of this group to an other one to avoid this problem</p>
                                        </div>
                                        <div class="modal-footer">
                                        <form method="post" action="{{ path('education_group_delete', {'id':  education_group.id}) }}">
                                            <button type="button" class="btn btn-default btn-md" data-dismiss="modal">Close</button>
                                             <input type="hidden" name="_method" value="DELETE">
                                             <input type="hidden" name="_token" value="{{ csrf_token('delete' ~  education_group.id) }}">
                                             <button type="submit" class="btn btn-danger btn-md">Delete</button>
                                             </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<a class="btn btn-success" href="{{ path('education_group_new') }}">Create new</a> #
            </div></div></div></div></div>
    
    <script>
        function showModal(id) {
            $("#"+id).modal();
        }
    </script> #}
   <style>
    .education:hover{
        color:#384D77 !important;
    }
</style>
<section name='Title' style='margin-top:140px;'>
<div class="container">
        <div class="row justify-content-center">
          <h1 class="text-center"style="color:#B2273D;font-family:'Neou-bold';">   CLASS
           <img src="{{asset('image/icones/1.png')}}" height="80px"width="80px" class="path">
           </h1>
            <div class="row row-grid justify-content-center">
         
            </div>
          </div>
        </div>
      </div>
      </section>

      <section name="table groups">
           <div class="container">
          <div class="row">
            <div class="col">
               <div >
               <div class="row">
               <div class="col-4"style="background-color:rgba(241,242,242,0.7);padding-top:20px;padding-bottom:10px;margin-right:20px;">
               <h2 class="text-rede text-center">NAME</h2></div>
               
               <div class="col-7"style="background-color:rgba(241,242,242,0.7);padding-top:20px;padding-bottom:10px;">
               <h2 class="text-rede text-center">ACTION</h2></div>
               </div>
               </div>
            </div>
          </div>
          <!-- Condition -->
          {% for education_group in education_groups %}
          <div class="row" style="margin-top:20px;">
          <div class="col">
             <div >
               <div class="row">
               <div class="col-4"style="background-color:rgba(241,242,242,0.7);padding-top:20px;padding-bottom:10px;margin-right:20px;"><h3 class="text-center " style="padding-top:50px;">{{ education_group.name }}</h3>
               </div>
               <div class="col-7 teacherMenu"style="background-color:rgba(241,242,242,0.7);padding-top:20px;padding-bottom:10px;">
               <a href="{{path('students_of_teacher_index',{ 'id': education_group.id })}}"> <span class="h3 text-dark education">STUDENTS</span></a><br>
              <a href="{{path('module_test_index_teacher', { 'id' : education_group.id })}}"> <span class="h3 text-dark education">COURSES</span></a><br>
<a href="{{path('module_test_index_teacher', { 'id' : education_group.id,'list':'tests' })}}"> <span class="h3 text-dark education">TESTS</span></a><br>
<a href="{{path('teacher_send_email', { 'id' : education_group.id })}}"> <span class="h3 text-dark education">SEND GROUP EMAIL</span></a>
               </div>
               </div>
               </div>
          </div>
          </div>
          {% endfor %}
      </section>

{% endblock %}
