
{% extends 'base.html.twig' %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{asset('style.css')}}"/>
{#<link rel="stylesheet" href="{{asset('style4.css')}}"/>#}
<style>
.navbar-default {
    border-color: transparent;
   
    background-image: url({{asset('image/icones/18.png')}});
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #1ee2e7;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #1ee2e7;
    background-color: #1ee2e7;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #1ee2e7;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #1ee2e7;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #1ee2e7;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #17d0d5;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
</style>
{% endblock %}
{% block body %}
 

 <div id="StudentsDashboard">
    <section name='Title' style='margin-top:140px;'>
        <div class="container">
        <div class="row justify-content-center">
          <h1 class="text-center"style="color:#B2273D;">   TESTS
            <img src="{{asset('image/icones/1.png')}}" height="80px"width="80px" class="path">
           </h1>
            <div class="row row-grid justify-content-center">

            </div>
          </div>
        </div>
      </section>
      {#}
           <div class="row">
               <div class="col-md-12" style="height:50px;" ></div>
           </div>
    <div class="row">
        <div class="col-md-2"></div>
        {% set cpt = 1 %}
        {% for category in catagories %}
            <div class="col-md-2"><form action="{{ path('test_selectClasse',{'id': category.id }) }}" ><button type="submit" class="categoryButton" {% if category.name | length > 7 %} style="font-size:13px" {% endif %} >{{ category.name }}</button></form></div>
            
            {% if cpt == 4 %}
                </div>
                <div style="height:15px;"></div>
                <div class="row">
                <div class="col-md-2"></div>
                {% set cpt = 0 %}
            {% endif %}
            {% set cpt = cpt +1 %}
        {% endfor %}
    </div>
    
    </div>
    
{% if app.user.status=="Admin" %}
<a href="{{ path('test_new') }}" class="btn btn-lg btn-outline-success">Create new</a>


{% endif %}
#}

<section id="quizz-intro-section" class="quizz-intro-section learn-section" style="min-height: 175px;">
        <div class="container">

            <div class="title-ct">
                <h3><strong></strong></h3>
                <div class="tt-right">
                    <a href="#" class="skip"><i class="icon md-arrow-right"></i></a>
                </div>
            </div>

            <div class="question-content-wrap">
                <div class="row">
                    <div class="col-md-8">
                        <div class="question-content">
                               <!-- SECTION OUTLINE -->
                                
                                <!-- END / SECTION OUTLINE -->
    
                        </div>
                    </div>


                    <div class="col-md-4">
                        <aside class="question-sidebar" {#style="height: 700px;"#}>
                            <div class="score-sb">
                                <h4 class="title-sb sm bold">Categories<span>{{categoriesUnlocked|length}}</span></h4>
                                <div class="list-wrap ps-container ps-active-x ps-active-y" style="height: 100%; max-height: none;">
                                <ul>
                                 {% set i=0 %}
                                    {% for category in catagories %}
                                    <li class="{% if category in categoriesUnlocked %} active {% else %} val {% endif %}"><i class="icon"></i>
                                    <a data-toggle="collapse" href="#multiCollapseExample{{category.id}}"aria-expanded="false" aria-controls="multiCollapseExample{{category.id}}" >{{category.name}}</a><span></span>
                                      <div style="{% if category not in categoriesUnlocked %} display:none;{% endif %}" class="collapse multi-collapse" id="multiCollapseExample{{category.id}}">
                                      <ul> 
                                      {% for class in category.classes %}
                                        <li>
                                          <a href="{% if app.user.status == "Student" %}{{ path('teststudent_index',{'idCategory':category.id,'idClass':class.id}) }}{% else %}{{ path('test_index',{'idCategory':category.id,'idClass':class.id}) }}{% endif %}" >{{class.name}} </a>
                                          </li>
                                        {% endfor %}
                                      </ul>
                                      </div>
                                    </li>
                                    {% endfor %}
                                </ul><div class="ps-scrollbar-x-rail" style="width: 326px; display: inherit; left: 0px;"><div class="ps-scrollbar-x" style="left: 0px; width: 150px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 520px; display: inherit; right: 0px;"><div class="ps-scrollbar-y" style="top: 0px; height: 150px;"></div></div></div>
                            </div>
                            
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}