{% extends 'base.html.twig' %}

{% block title %}Test index{% endblock %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{asset('style.css')}}"/>
{% endblock %}
{% block body %}

  {% for message in app.flashes('danger') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
  <div id="StudentsDashboard">
    <section name='Title' style='margin-top:140px;'>
        <div class="container">
        <div class="row justify-content-center">
          <h1 class="text-center"style="color:#B2273D;">   Practice
            <img src="{{asset('image/icones/1.png')}}" height="80px"width="80px" class="path">
           </h1>
            <div class="row row-grid justify-content-center">

            </div>
          </div>
        </div>
      </section>
      <script>
        function showModal(id) {
            $("#"+id).modal();
        }
    </script>
     <script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

  <script>
$(document).ready( function () {
    $("#exemple").DataTable();
} );
</script>
<script type="text/javascript">
				 $(document).ready(function() {
    $('#example').DataTable( {
        "order": [[ 3, "desc" ]]
    } );
} );
	</script>
   
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(".moduleClasses input").click(function(){
            $(this).parents('form:first').submit();
        });
        {% if classe is defined %}
            /*$([document.documentElement, document.body]).animate({
                    scrollTop: $("#testTable").offset().top
                }, 2000);*/
                window.location.href = "#testTable";
        {% endif %}
    </script>

<section id="quizz-intro-section" class="quizz-intro-section learn-section" style="min-height: 175px;background-color:transparent; padding-top:25px;">
        <div class="container"style="max-width: 1230px;">

            <div class="title-ct">
           
                <div class="tt-right">
                    <a href="#" class="skip"><i class="icon md-arrow-right"></i></a>
                </div>
            </div>

            <div class="question-content-wrap"style="border-radius: 20px;">
                <div class="row">
                    <div class="col-md-3">
                        <aside class="question-sidebar" style="height: 100%;border-radius: 20px;">
                            <div class="score-sb">
                                <h4 class="title-sb sm bold">Total score<span>{{categoriesUnlocked|length}}</span></h4>
                                <div class="list-wrap ps-container ps-active-x ps-active-y" style="height: 100%; max-height: none;">
                                <ul>
                                 {% set i=0 %}
                                    {% for category in categories %}
                                    <li class="{% if category in categoriesUnlocked %} active {% else %} val {% endif %}"><i class="icon"></i>
                                    <a data-toggle="collapse" href="#multiCollapseExample{{category.id}}"aria-expanded="false" aria-controls="multiCollapseExample{{category.id}}" >{{category.name}}</a><span></span>
                                      <div style="{% if category not in categoriesUnlocked %} display:none;{% endif %}" class="collapse multi-collapse {% if category.id== idCategory %}show{% endif %}" id="multiCollapseExample{{category.id}}">
                                      <ul> 
                                      {% for class in category.classes %}
                                        <li>
                                          <a style="padding-left:20px;{% if class.id== idClass %}color:red;{% endif %}" href="{% if app.user.status == "Student" %}{{ path('teststudent_index',{'idCategory':category.id,'idClass':class.id}) }}{% else %}{{ path('test_index',{'idCategory':category.id,'idClass':class.id}) }}{% endif %}" >{{class.name}} </a>
                                          </li>
                                        {% endfor %}
                                      </ul>
                                      </div>
                                    </li>
                                    {% endfor %}
                                </ul><div class="ps-scrollbar-x-rail" style="width: 326px; display: inherit; left: 0px;"><div class="ps-scrollbar-x" style="left: 0px; width: 150px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 520px; display: inherit; right: 0px;"><div class="ps-scrollbar-y" style="top: 0px; height: 150px;"></div></div></div>
                            </div>
                            <input type="submit" value="Submit all answer" class="submit mc-btn btn-style-1">
                        </aside>
                    </div>
                    <div class="col-md-9">
                    <div style="margin-top:10px;margin-left:20px;">
                    <p class="skip">{{catname}} / {{classname}}</p>
                    </div>
                        <div class="question-content" style="padding: 19px 20px 20px 20px;">
                               <!-- SECTION OUTLINE -->
                                <div class="section-outline">
                    
                               <!-- SECTION OUTLINE -->
                               <ul class="section-list">
                          {% for test in tests %}
                            {% set exist=0 %}
                                                
                                                {% for score in scores %}
                                               {% if  test.id == score.test.id and app.user.student[0].id == score.student.id %}
                                                    {% set exist=exist+1 %}
                                               
                                               
                                                {% endif %}
                                                {% endfor %}
                                                {% if exist==1%}
                                                <li class="o-view">
                                                {% else %}
                                                <li >
                                                {% endif %}
                                            <div class="count"><span>{{loop.index}}</span></div>
                                            <div class="list-body">
                                                <i class="fas fa-pen-nib"></i>
                                                <p><a href="#">{{test.title}}</a></p>
                                                <div class="data-lessons">
                                                    <span>{{test.description}}</span>
                                                </div>
    
                                                <div class="download">
                                                    <a href="#"><i class="icon md-download-1"></i></a>
                                                    <div class="download-ct">
                                                        <span>Reference 12 mb</span>
                                                    </div>
                                                </div>
                                                {% set existe=0 %}
                                                
                                                {% for score in scores %}
                                               {% if  test.id == score.test.id and app.user.student[0].id == score.student.id %}
                                                    {% set existe=existe+1 %}
                                               
                                               
                                                {% endif %}
                                                {% endfor %}
                                                {% if existe==1%}
                                                <div class="div-x"><i class="fas fa-check"></i></div>
                                                <div class="line"></div>
                                                    <a href="{{path('test_check',{'id':test.id})}}" class="mc-btn-2 btn-style-2">Check Correct</a>
                                                {% else %}
                                                 <a href="{#{{path('test',{'id':test.id})}}#}{{path('test_reading',{'id':test.id})}}" class="mc-btn-2 btn-style-2">Pass Test</a>
                                                <div class="div-x"><i class="icon md-check-2"></i></div>
                                                <div class="line"></div>
                                                {% endif %}
                                            </div>
                                        </li>
                            
                          {% endfor %}   
                          </ul>  
                                <!-- END / SECTION OUTLINE -->
                            
                    </div>
                        </div>
                    </div>


                    
                </div>
            </div>
        </div>
    </section>
    <style>
    .section-outline .section-list li .mc-btn-2 {
    position: absolute;
    right: 60px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
    </style>
{% endblock %}