<style>
	.dropdown-btn {
		text-decoration: none;
		font-size: 18px;
		color: white;
		border: none;
		border-top: 1px solid #9b293e;

		background: none;
		text-align: left;
		cursor: pointer;
		outline: none;

		width: 100% !important;
		font-family: 'Titillium Web', sans-serif;

	}
	.dropdown-btn > i {
		right: 7px;
		width: 55px;
		height: 36px;
		top: 12px;
	}

	.dropdown-container {

		display: none;
		padding: 10px;
	}

	.dropdown-container > a {
		font-size: 15px;
		text-decoration: none;
		color: white;
		margin-top: 10px;
		margin-left: 10px;
		border-top: 1px solid #8d1e32;

	}


	.dropdown-container >a:hover {
		background-color: #384D77;
		color: white;
		width: auto;
	}

	.nav-text {
		color: white;
		font-size: 18px;
		position: relative;
		display: table-cell;
		vertical-align: middle;
		width: 190px;
		font-family: 'Titillium Web', sans-serif;

	}
</style>


{% block  student %}

	<ul>


		<li>
			<a href="{{ path('apprentice') }}" style="{% if app.request.attributes.get('_route')=="apprentice" %} background:#384D77;{% endif %} ">
				<i class="fa fa-th-large fa-lg"></i>
				<span class="nav-text">Insights</span>
			</a>
		</li>

		<li>


			<button class="dropdown-btn" style="{% if app.request.attributes.get('_route') in ["candidature_new","candidature_edit","application_index","candidature_student_show"] %} background:#384D77;{% endif %}">
				<i class="fa fa-paperclip"></i>
				Application
				<i class="fa fa-caret-down"></i>
			</button>

			<div class="dropdown-container">


				<a href="{{path('candidature_index')}}">
					<span>Application</span>
				</a>
				<br>


				<a href="{{ path('application_index') }}">
					Universities applied to</a>
				<br>
				<a href="{{ path('candidature_student_show') }}">View My Documents</a>


			</div>

		</li>


		<li>

			<a href="{{ path('module_selectCategory') }} " style="{% if app.request.attributes.get('_route') in ["module_selectCategory","module_selectClasse"] %} background:#384D77;{% endif %}">
				<i class="fa fa-server fa-lg"></i>
				<span class="nav-text">Courses</span>

			</a>


		</li>
		<li>
			<a href="{{ path('test_selectCategory') }}" style="{% if app.request.attributes.get('_route') in ["test_selectCategory","test_selectClasse","test_index"] %} background:#384D77;{% endif %}">
				<i class="fa fa-paper-plane fa-lg"></i>
				<span class="nav-text">Practice Test</span>
			</a>
		</li>
		<li>
			<a href="{{ path('student_sessions_index') }}" style="{% if app.request.attributes.get('_route') in ["student_sessions_index","counsling_student"] %} background:#384D77;{% endif %}">
				<i class="fa fa-chalkboard-teacher fa-lg"></i>
				<span class="nav-text">Counseling
				</span>
			</a>
		</li>

		<li>
			<a href="{{ path('list') }}" style="{% if app.request.attributes.get('_route') == "list" %} background:#384D77;{% endif %}">
				<i class="fa fa-video fa-lg"></i>
				<span class="nav-text">Video
				</span>
			</a>
		</li>

		<li>
			<a href="{{ path('univ_student_index') }}" style="{% if app.request.attributes.get('_route') in ['univ_student_index','university_show'] %} background:#384D77;{% endif %}">
				<i class="fa fa-university fa-lg"></i>
				<span class="nav-text">Universities
				</span>
			</a>
		</li>

		<li>
			<a href="{{ path('club_index') }}" style=" {% if 'club' in app.request.attributes.get('_route') %}  background:#384D77;{% endif %}">
				<i class="fa fa-users fa-lg"></i>
				<span class="nav-text">Clubs
				</span>
			</a>
		</li>

		<li>
			<a href="{{ path('subject_index') }}" style="  {% if 'subject' in app.request.attributes.get('_route') %}  background:#384D77;{% endif %}">
				<i class="fa fa-layer-group fa-lg"></i>
				<span class="nav-text">Forums
				</span>
			</a>
		</li>

		<li>
			<a href="{{ path('profil_show') }}" style=" {% if app.request.attributes.get('_route') in ['profil_show'] %}  background:#384D77;{% endif %}">
				<i class="fa fa-user-circle fa-lg"></i>
				<span class="nav-text">Profile
				</span>
			</a>
		</li>

	</ul>

</div>


<script>
	var dropdown = document.getElementsByClassName("dropdown-btn");
	
var i;

for (i = 0; i < dropdown.length; i++) {
dropdown[i].addEventListener("click", function () {
this.classList.toggle("active");
var dropdownContent = this.nextElementSibling;
if (dropdownContent.style.display === "block") {
dropdownContent.style.display = "none";
} else {
dropdownContent.style.display = "block";
}
});

}
</script>{% endblock %}
