{% extends 'base.html.twig' %}

{% block title %}New Courses{% endblock %}

{% block body %}
<section name='Title' style='margin-top:140px;'>
    <div class="container">
        <div class="row justify-content-center">
          <h1 class="text-center"style="color:#B2273D;font-family:'Neou-bold';">  New Course
           <img src="{{asset('image/icones/1.png')}}" height="80px"width="80px" class="path">
           </h1>
            <div class="row row-grid justify-content-center">
         
            </div>
          </div>
        </div>
      </div>
</section>

<section name="new session" style="margin-bottom:60px;margin-top:50px;">
    <div class="container">
        <div class="row justify-content-center"> 
            <div class="col-8">
{{ form_start(form)}}
    
                 <div class="row">
                    <div class="col-lg-8">
                      <div class="form-group">
                        <label class="form-control-label" for="input-address">Name</label>
                        {{ form_widget(form.name) }}
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-success float-right">{{ button_label|default('Save') }}</button>
                  {{ form_end(form)}}

    <a href="{{ path('courses_index') }}"class="btn btn-outline-default float-left">back to list</a>
    </div></div></div>
    </section>
{% endblock %}
