{% extends 'base.html.twig'%}
{% block title %}
Applied universities
{% endblock %}

{% block body %}
<br><br><br><br><br><br>
<div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <h1 class="text-center">Universities</h1>
            <div class="row row-grid justify-content-center">
            
            </div>
          </div>
        </div>
      </div>
<div class="container-fluid mt--3">
      <!-- Table -->
      <div class="row">
        <div class="col">
             {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
          {% for message in app.flashes('delete') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
          {% for message in app.flashes('update') %}
           
          
            <div class="alert alert-warning" role="alert">
                {{ message }}
                </div>   
                {% endfor %} 
                 <div class="row justify-content-center"> 
    <div class="col-10">
    <div class="card card-plain" style="border:solid 1px ;">
    <div class="card card-header">
    </div>
    <div class="card-body">
<table class="table">
        <thead>

            <tr role="row">
            <th>University name</th>
            <th>Email</th>
            {#<th>Password</th>#}
            <th>Action</th>
        </thead>
        <tbody >
        {% for application in application%}
        <tr>
        <td>{{application.universityname}}</td>
        <td>{{application.email}}</td>
        {#<td>{{application.password}}</td>#}
        <td>
        <div class="btn-group">
                                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 0px;margin-top: 0px">Actions</button>
                                        <div class="dropdown-menu ">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal{{ application.id }}" >
                                            <i class="tim-icons text-yellow icon-settings-gear-63"></i>
                                            Edit</a>
                                            <a class="dropdown-item"  data-toggle="modal" data-target="#modal-notification{{ application.id }}">
                                            <i class="tim-icons text-red icon-simple-remove"></i>
                                            Delete</a>
         
                </div>
        </td>
        
        
<!-- Modal -->
<div class="modal fade" id="exampleModal{{ application.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
   <form action="{{path('application_edit',{'id':application.id})}}" method="post">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit application</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    <label class="text-muted">University Name:</label>
            <input  name="name" class="form-control text-dark" type="text" value="{{application.universityname}}" disabled/>
            <label class="text-muted">Email:</label>
            <input name="email" style="color: #000000;" class="form-control " type="text" value="{{application.email}}"/>
           {#} <label class="text-muted">Password:</label>#}
            <input name="password" style='color:#000000;' hidden="true" class="form-control " type="text" value="{{application.password}}"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <button type="submit" class="btn btn-success">{{ button_label|default('Update') }}</button>
            
      </div>
    </div>
    </form>
  </div>
</div>

<!--Modal delete -->

    <div class="modal fade" id="modal-notification{{application.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content bg-gradient-danger">
        	
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-notification">Delete Confirmation</h6>
                                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            
            <div class="modal-body">
            	
                <div class="py-3 text-center">
                    <i class="ni ni-bell-55 ni-3x"></i>
                                             <h4 class="heading mt-4">Do you really want to delete {{application.universityname}}'s application!</h4>
                                        </div>
                                        <div class="modal-footer">
                                         <form method="post" action="{{path('application_delete',{'id':application.id})}}" >
                                            <button type="button" class="btn btn-default btn-md" data-dismiss="modal">Close</button>
                                           
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ application.id) }}">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

            </tr>

     
        {% else %}
            <tr>
                <td colspan="3">didn't apply yet</td>
            </tr>
        {% endfor %}
  </tbody>
  </table>
  </div>
  </div>
{% endblock  %}