{% extends 'base.html.twig' %}

{% block title %}Deadlines index{% endblock %}

{% block body %}
<section name='Title' style='margin-top:140px;'>
<div class="container">
        <div class="row justify-content-center">
          <h1 class="text-center"style="color:#B2273D;font-family:'Neou-bold';"> Applivation's deadline
           <img src="{{asset('image/icones/1.png')}}" height="80px"width="80px" class="path">
           </h1>
            <div class="row row-grid justify-content-center">
         
            </div>
          </div>
        </div>
      </div>
      </section>
    <style>
      .bg-grise{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border:none;
    background-color: rgba(241,242,242,0.7);

    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
    </style>
<div class="container">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-12">
        
              
            
            {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
          {% for message in app.flashes('delete') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
          {% for message in app.flashes('update') %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
                </div>   
                {% endfor %}  
              
<div style="margin-right:50px;margin-left:50px;margin-top:50px;">
  <table style="border:none;" id="example"  class="table align-items-center table-flush  display dataTable">
            <thead >
                <th style="border-bottom:none;"><h5 class="text-bluee">Test</h5></th>
                
                <th style="border-bottom:none;"><h5 class="text-bluee">Letter of recommendation english</h5></th>
                <th style="border-bottom:none;"><h5 class="text-bluee">ID</h5></th>
                <th style="border-bottom:none;"><h5 class="text-bluee">Action</h5></th>
            </thead>
            
        <tbody>
        {% for candidature_deadline in candidature_deadlines %}
            <tr>
                
                <td class="bg-gris"height="50px"  onmouseover="show({{category.id}})"onmouseout="hide({{category.id}})">{{ candidature_deadline.test ? candidature_deadline.test|date('Y-m-d H:i:s') : '' }}</td>
                <td id="td{{category.id}}" class="bg-gris">{{ candidature_deadline.letterOfRecommendation ? candidature_deadline.letterOfRecommendation|date('Y-m-d H:i:s') : '' }}</td>
               

                <td class="bg-gris">{{ candidature_deadline.cin ? candidature_deadline.cin|date('Y-m-d H:i:s') : '' }}</td>
             
                <td class="bg-gris">
                    <a href="{{ path('candidature_deadline_show', {'id': candidature_deadline.id}) }}">show</a>
                    <a href="{{ path('candidature_deadline_edit', {'id': candidature_deadline.id}) }}">edit</a>
                </td>
            </tr>
             <!--js function show and hide-->
                        <script>
                                function show(a){
                                    document.getElementById('td'+a).style.backgroundColor='yellow';
                                    document.getElementById('act'+a).style='display:inline;';
                                }
                                function hide(a){
                                    document.getElementById('td'+a).style='';
                                    document.getElementById('act'+a).style='display:none';
                                }
                            </script>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('candidature_deadline_new') }}">Create new</a>
{% endblock %}
